:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 12px;
  list-style: none;
  margin: 0 auto;
  z-index: 100;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  z-index: 100;
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

/* Button styles */

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;

  margin-top: 60vh;
  margin-bottom: 0;
  padding: 0;
}

.list__item {
  margin-bottom: 20px;
  text-align: center;
}

.link__btn {
  display: block;

  width: 20em;
  padding: 25px;

  font-family: Poppins;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;

  color: white;
  outline: none;
  border-radius: 10px;
  border: 6px solid rgba(255, 255, 255, 0.8);

  transition: 1s;
}

.link__btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.back__btn {
  margin-left: 30px;
  margin-bottom: 0;
}

.back__btn .link__btn {
  color: rgba(255, 255, 255, 0.3);
  border: none;
  width: 100%;
  display: inline;
}

.back__btn .link__btn:hover {
  background: rgba(181, 37, 37, 0);
  color: white;
}

/* Background Styles */

.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(-90px) rotate(360deg);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(-180deg);
    border-radius: 50%;
    opacity: 0;
  }
}

/* SimpleLightBox elements styles */

.sl-wrapper {
  background-color: rgb(124, 177, 183);
}

.simple-lightbox .sl-navigation .sl-next,
.simple-lightbox .sl-navigation .sl-prev {
  color: white;
}

.sl-wrapper .sl-close {
  color: white;
}

.simple-lightbox .sl-counter {
  color: white;
}

.sl-wrapper .sl-close:hover,
.simple-lightbox .sl-next:hover,
.simple-lightbox .sl-prev:hover,
.simple-lightbox .sl-counter:hover {
  color: antiquewhite;
}

.sl-wrapper .sl-caption {
  background-color: antiquewhite;
}

.sl-wrapper .sl-counter .sl-current,
.sl-wrapper .sl-counter .sl-total {
  font-family: Poppins;
  font-size: 1.5rem;
}

.sl-wrapper .sl-counter {
  font-family: Poppins;
  font-size: 1rem;
}

.sl-wrapper .sl-image .sl-caption {
  font-family: Poppins;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(42, 59, 61, 0.7);
  width: fit-content;
  transform: translateY(100%);
  animation: caption-move 1s linear 1 both;
}

.sl-wrapper .sl-image {
  overflow: hidden;
}

@keyframes caption-move {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
